BUS!="usb", ACTION!="add", SUBSYSTEM!=="usb_device", GOTO="ndi_logic_rules_end"

ATTRS{idVendor}=="0403", ATTRS{idProduct}=="da70", MODE="0666", GROUP="plugdev"

LABEL="ndi_logic_rules_end"